<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<html>
  <head>
    <meta charset="utf-8">
    <title>Stokks</title>
  </head>
  <body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Valuation</h5>
        <a href="#" class="card-link">{{ stock.pricetoearnings }}</a>
        <a href="#" class="card-link">{{ stock.stock_name }}</a>
        </div>
    </div>
  <div class="card" style="width: 18rem;">
        <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">{{ stock.stock_ticker }}</a>
        <a href="#" class="card-link">{{ stock.stock_name }}</a>
        </div>
  </div>
  </body>
</html>