<!DOCTYPE html>

{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

<html>
  <head>
    <meta charset="utf-8">
    <title>Stonks</title>
  </head>
  <body>
      <table class="table table-dark">
        <thead>
        <tr>
      <th scope="col">Ticker</th>
      <th scope="col">Name</th>
      <th scope="col">Stuff</th>
        </tr>
        </thead>
        <tbody>
    {% for stock in stock_list %}
        <tr>
          <th scope="row">{{ stock.stock_ticker }}</a></th>
          <td><a href="{% url 'investingsite:detail' stock.stock_id %}">{{ stock.stock_name }}</a></td>
        </tr>
    {% endfor %}
        </tbody>
      </table>
  </body>
</html>